{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

{% block head %}
  {{ super() }}
  <style type="text/css">
    body{ 
        background: rgb(255, 165, 185);
        height: 100%;
    }

    div#container {
        padding: 0px;
        <!-- background: blueviolet; -->
      }
      .content {
        display: inline-block;
        vertical-align: bottom;
      }
      .text {
        font-family: 12px Tahoma, Geneva, sans-serif;
        color: rgb(128, 33, 33);
      }
      #wrap {
        min-height: 100%;
      }
      
      #main {
        overflow:auto;
        padding-bottom:10px; /* this needs to be bigger than footer height*/
      }
      
      .footer {
        position: relative;
        margin-top: -150px; /* negative value of footer height */
        height: 150px;
        clear:both;
        padding-top:20px;
      } 
  </style>
{% endblock %}

<body>


<div id="container">
    <div class="content">
      <h1>Production:</h1>
    </div>
</div>

<h5>Please scan the quantity you want to remove from your production.</h5>

   <!-- Unused now as the mapping for submission is coming from the form. -->

<hr style="margin-top:0em; margin-bottom: 6px;"/>

<div id="container">
    <div class="content">
        <h2>Total Pcs:</h2>
    </div>
    <div class="content" style="padding: 0px 10px 0px 10px; border-width:2px; border-style:solid; background: white">
        <h3> {{ total }} </h3>
    </div>
</div>

<hr style="margin-top: 3px; margin-bottom: 3px;"/>

<div id="container">
<form action="" method="post">
        {{ form.hidden_tag() }}
    
        <div class="row">
            <div class="col" >
            <div class ="form-control" style="background-color:azure;">
                    <div id="container">
                    {{ wtf.quick_form(form, form_type='horizontal') }}
                    </div>
            </div>
        </div>
</form>
</div>
<!-- <div  style="padding-top: 150px; text-align:right;">
        <a href=" {{url_for('complete_sort_box_scan_negative', record=variable_id)}} " role="button" class="btn btn-link" style="background-color:black; color:white; border-radius: 25px">Click here to subtract box quantities!</a>
</div> -->
<div id="container" style="padding: 150px 0px 100px 0px;"></div>

</body>
<div id="wrap">
     <div id="main" class="container clear-top">
     <a href=" {{url_for('complete_sort_box_scan_submission', record=variable_id) }} " role="button" class="btn btn-success btn-large" style="font-size:20pt; background-color:rgb(34, 99, 240)">Submit complete production!</a
     <a href=" {{url_for('start_break', record=variable_id) }} " role="button" class="btn btn-success btn-large" style="font-size:20pt; background-color:rgb(74, 243, 102)">Start break/lunch!</a>
            
      
{% endblock %}