{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

{% block head %}
  {{ super() }}
  <style type="text/css">
  </style>
{% endblock %}

<h1>Production:</h1>
<h5>Please scan every box as you complete it.</h5>

   <!-- Unused now as the mapping for submission is coming from the form. -->

<hr style="height:10 px";>


<form action="" method="post">
    {{ form.hidden_tag() }}

    <div class="row">
        <div class="col">
        <div class ="form-control" style="background-color:azure;">
                {{ wtf.quick_form(form, form_type='horizontal') }}
        </div>
    </div>

</form>
<div class="navbar-fixed-bottom">
<a href=" {{url_for('complete_sort_box_scan_submission', record=variable_id) }} " role="button" class="btn btn-success btn-large" style="font-size:20pt; background-color:rgb(34, 99, 240)">Submit complete production!</a>
</div>
{% endblock %}