{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

{% block head %}
  {{ super() }}
  <style type="text/css">
   
  </style>
{% endblock %}


<h1>Production:</h1>
<h5>Please scan every box as you complete it.</h5>


<hr style="height:10 px";>


<form action="" method="post">
    {{ form.hidden_tag() }}

    <div class="row">
        <div class="col">
        <div class ="form-control" style="background-color:azure;">
                {{ wtf.quick_form(form, form_type='horizontal') }}
        </div>
    </div>


</form>

{% endblock %}